<div class="sub-card">
  <div class="sub-card-food">
    <%if diaries.last.meal_id%>
      <%= Meal.find(diaries.last.meal_id).meal_name %>
    <%elsif diaries.last.food_id %> 
      <%= Food.find(diaries.last.food_id).food_name %>
    <%else%>
      <p>Your <%=diaries.last.time_of_day%>  log is empty</p>
    <%end%>
  </div>
  <div class="sub-card-link">
    <%= link_to "Log #{diaries.last.time_of_day}", new_diary_path(time_of_day: diaries.last.time_of_day )%>
  </div>
</div>