<div class="summary-total-content">
  <div class="summary-total-header">
    Total summary
  </div>
  <div class="summary-total-calories">
    Calories: <%= @diaries.sum{|diary| diary.calories } %>
  </div>
  <%= pie_chart @piechart_macros, colors: ["#8139a7", "#bf96fd9a", "#e51cb3"] %>
  
</div>