<div class="container-flex"><%= render "diet_summary" %></div>
<div class="sub-diary-list">
  <% breakfast_diaries = @diaries.by_time_of_day("Breakfast")%>
  <% lunch_diaries = @diaries.by_time_of_day("Lunch") %>
  <% dinner_diaries = @diaries.by_time_of_day("Dinner") %>
  
  <%if breakfast_diaries%>
    <%= render partial: "sub_diary", locals: {diaries: breakfast_diaries} %>
  <%end%>
  <%if lunch_diaries%>
    <%= render partial: "sub_diary", locals: {diaries: lunch_diaries } %>
  <%end%>
  <%if dinner_diaries%>
    <%= render partial: "sub_diary", locals: {diaries: dinner_diaries } %>
  <%end%>
</div>