
<div class="user-profile">
  <div class="profile-control-panel">
    <header>
      <%= image_tag "default-profile-picture1.jpg", alt: "Default profile picture", class:"user-profile-img" %>
    </header>
    <ul class="profile-control-panel-tabs" role="list">
      <li class=<%= "panel-tabs-active" if tab == 'Progress'%>>*<a href="/weight_logs" class="tab-link">Progress</a>*</li> 
      <li class=<%= "panel-tabs-active" if tab == 'Settings'%>>*<a href="users/edit" class="tab-link" >Settings</a>*</li>
    </ul>
  </div>


  <div class="user-show-page-content">
    <% if partial_name != '' %>
      <%= render "#{partial_name}" %>
    <%end%>
  </div>

</div>