
<div class="user-profile">
<div class="profile-control-panel">
  <header>
    <%= image_tag "default-profile-picture1.jpg", alt: "Default profile picture", class:"user-profile-img" %>
    <div>
      <div class="user-profile-username">
        <%= @user.email%>
      </div>
    </div>
  </header>
  <ul class="profile-control-panel-tabs" role="list">
    <li class="panel-tabs-active">Progress</li>
    <li>Feed</li>
    <li>Settings</li>
  </ul>
</div>


<div class="user-show-page-content">
  <h1>User Show Page</h1>
</div>

</div>