<div class="diary-form">
  <%= form_with model: @meal do |f| %>
    Create new meal
    <%= f.text_field :meal_name %>
    <div class="form-btn">
      <%= f.submit "Create Meal"%>
    </div>  
  <%end%>
</div>