/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 
 color scheme: 
 */

:root {
  --primary: #8139a7;
  --secondary: #bf96fd9a;
  --accent: #e51cb3;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
input[type="submit"].disabled {
  pointer-events: none;
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
}
/* 
### DIARY STYLING
*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.card {
  width: 70%;
  border-radius: 20px;
}

.summary-table {
  font-weight: 300;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.summary-header-title {
  /* display: flex; */
  font-weight: 500;
  font-size: 2rem;
}
.summary-table th {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  color: white;
}
.summary-table thead th:nth-child(1) {
  border-top-left-radius: 20px;
}
.summary-table thead th:nth-child(5) {
  border-top-right-radius: 20px;
}
.summary-table td {
  height: 3.5rem;
  /* text-align: center; */
  padding-left: 2rem;

  font-size: 1.1rem;
}
.summary-body {
  display: flex;
}
.summary-body-title {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.totals-row {
  border-top: 1px solid var(--accent);
}
.diary-item td:nth-child(2) {
  background-color: var(--secondary);
}
.diary-item td:nth-child(4) {
  background-color: var(--secondary);
}
.totals-row td:nth-child(2) {
  background-color: var(--secondary);
}
.totals-row td:nth-child(4) {
  background-color: var(--secondary);
}
.diary-form {
  background-color: white;
}
.diary-form-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}
/* 
#### Foods Styling
*/

#add-item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  background-color: var(--secondary);
  border-radius: 10px;
}
.add-item-card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  width: 100%;
  min-height: 15rem;
  max-height: 35rem;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  padding: 1rem;
}
.food-list {
  padding: 0.1rem;
  border: 0.2rem solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 10px;
}
.food-item {
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 0.4rem;
}
.food-item-name {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.food-name {
  font-size: 1.5rem;
}
.food-item-macros {
  display: flex;
  font-style: italic;
  opacity: 80%;
  gap: 0.4rem;
}
.food-item-btn {
  align-self: flex-end;
}
.food-list-search-bar {
  padding: 1rem;
}
.food-header {
  color: var(--primary);
  font-size: 1.5rem;
}
.food-body {
  overflow-y: scroll;
  max-height: 15rem;
  margin: 1rem 0;
  scrollbar-width: thin;
}
.new-food-form {
  padding: 0.1rem;
  border: 0.2rem solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.1rem 0;
}
.grid-food-item {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  margin-right: 1rem;
  padding: 0.1rem;
  color: var(--primary);
}
.add-item-card ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.add-item-card ul li {
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: -1px;
}

.active {
  color: white;
  background-color: var(--secondary);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.meal-item {
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 0.4rem;
}
.meal-item-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meal-header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}
.meal-header h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}
.meal-header h4,
p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary);
  margin: auto 0;
  align-self: flex-end;
}
.meal-btns {
  display: flex;
  justify-content: space-evenly;
}
.meal-body {
  overflow-y: scroll;
  max-height: 15rem;
  margin: 1rem 0;
  scrollbar-width: thin;
}
.meal-item-notification {
  font-weight: 300;
  font-style: italic;
  font-size: 0.7rem;
}
.meal-item-macros {
  display: flex;
  gap: 0.3rem;
  font-size: 0.5rem;
  font-style: italic;
  opacity: 80%;
  white-space: nowrap;
}
.new-meal-form {
  padding: 1rem;
  border: 0.2rem solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 10px;
}
/* 
  ########
*/
.navbar-container {
  background-color: var(--primary);
  height: 60px;
  margin-bottom: 1rem;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.nav-logo {
  font-size: 3rem;
  letter-spacing: -3px;
  display: flex;
  padding-left: 1rem;
}
.nav-link {
  font-size: 2rem;
  /* margin: 1rem; */
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
}
.nav-logo:link {
  text-decoration: none;
  color: white;
}
.nav-logo:active {
  text-decoration: none;
  color: white;
}
.nav-logo:visited {
  text-decoration: none;
  color: white;
}
.nav-logo:hover {
  text-decoration: none;
  color: var(--secondary);
}

.nav-link:link {
  text-decoration: none;
  color: white;
}
.nav-link:active {
  text-decoration: none;
  color: white;
}
.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  color: var(--secondary);
}
/* 
######
*/
.user-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: solid 1px var(--primary);
  padding: 1rem;
  border-radius: 10rem;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.08);
  margin: 2rem;
  height: 25rem;
}
.profile-control-panel {
  grid-column: 1/2;
  height: 30rem;
  padding: 2rem;
}
.user-profile-content {
  grid-column: 2/3;
}
.profile-control-panel header {
  position: relative;
  color: var(--primary);
  display: flex;
  justify-content: center;
  height: 10rem;
}
.profile-control-panel div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.user-profile-img {
  width: 10rem;
  border-radius: 25%;
}

.profile-control-panel-tabs {
  list-style: none;
  border-top: solid 1px var(--primary);
  margin-top: 1rem;
  padding-top: 0.5rem;
}
.panel-tabs-active {
  color: var(--accent);
}
.tab-link {
  text-decoration: none;
  color: black;
}
.tab-link:visited {
  text-decoration: none;
  color: black;
}
.tab-link:hover {
  text-decoration: none;
  color: var(--primary);
}
.tab-link:active {
  text-decoration: none;
  color: black;
}
/* 
#########
*/
.user-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
}
.user-delete-button {
  display: flex;
  font-size: 2rem;
}
.user-delete-button button {
  color: white;
  background-color: red;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.actions input[type="submit"] {
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.2rem 0.4rem;
  color: white;
  background-color: var(--primary);
}
.user-edit-form i {
  font-size: 1rem !important;
}
.password-fields {
  display: flex;
  gap: 1rem;
}
.password-fields em {
  font-size: 1rem;
}
.field input[type="email"] {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10rem;
  padding-left: 1rem;
}
.field input[type="password"] {
  width: 15rem;
  font-size: 1.5rem;
  border-radius: 10rem;
  padding-left: 1rem;
}
.field i {
  font-size: 1rem;
}
.edit-form-submit-section {
  display: flex;
  align-items: center;
}
.progress-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
