/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 
 color scheme: 
 */

:root {
  --primary: #8139a7;
  --secondary: #bf96fd9a;
  --accent: #e51cb3;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
/* 
### DIARY STYLING
*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.card {
  width: 70%;
  /* background-color: var(--secondary); */
  border-radius: 20px;
}
.hidden {
  display: none;
}
.summary-table {
  font-weight: 300;
  width: 100%;
  border-collapse: collapse;
}
.summary-header-title {
  /* display: flex; */
  font-weight: 500;
  font-size: 2rem;
}
.summary-table th {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  color: white;
}
.summary-table thead th:nth-child(1) {
  border-top-left-radius: 20px;
}
.summary-table thead th:nth-child(5) {
  border-top-right-radius: 20px;
}
.summary-table td {
  height: 3.5rem;
  /* text-align: center; */
  padding-left: 1rem;
}
.summary-body {
  display: flex;
}
.summary-body-title {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.totals-row {
  border-top: 1px solid var(--accent);
}
.diary-item td:nth-child(2) {
  background-color: var(--secondary);
}
.diary-item td:nth-child(4) {
  background-color: var(--secondary);
}
.totals-row td:nth-child(2) {
  background-color: var(--secondary);
}
.totals-row td:nth-child(4) {
  background-color: var(--secondary);
}
