/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
a:link{
  color: #a071f1;
}
a:visited {
  color: #a071f1;
}
a:hover {
  color: #a071f1;
}
a:active{
  color: #a071f1;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #6e48b0;
  border: none;
  color: white;
  padding: 3px;
  margin: auto;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 10px;
}