body {
  margin: 0;
}
.bg-grey{
  background-color:whitesmoke;
}
.form-box {
  display: grid;
}
.food-input {
  width: fit-content;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}
.title {
  text-align: center;
}
.summary-card {
  grid-column: 2 / 3;
}
.pie-chart-card {
  display:flex;
  border: solid;
  border-radius: 2%;
}
.neg-macro {
  color: red;
}
.pos-macro {
  color: green;
}

table {
  border-collapse: collapse;
}
table,tr,th {
  border-bottom: solid;
}
table,tr,td {
  border: 1px solid;
}