.flex-container{
  display: flex;
  
}
.form-group-1{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  margin: 20px;
  background-color: #67baf1ca;
  border: solid #6e48b0;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 1px rgba( 0, 0, 0 , .1);  padding: 10px;
}
.form-group-1 p{
  margin: auto;
  font-size: 20px;
}
.diary-form{
  color: #6e48b0;
  display: flex;
  justify-content: center;
  padding: 10px;

}
.field{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px;
  border-radius: 4px;
}
/* ################################ */
.form-group-2{
  display: flex;
  flex-direction: column;
  
  width: 450px;
  margin: 20px;
  background-color: #67baf1ca;
  border: solid #6e48b0;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 1px rgba( 0, 0, 0 , .08);
  
}
.form-group-2 p{
  margin: auto;
  font-size: 20px;
}
.form-list{ 
  border-radius: 20px;
  color: #6e48b0;
  padding: 15px;
  text-align: center;
}
/* #80ccffca blue
   #633aaa purple
*/