/* new meal and custom entry form */
.flex-container{
  display: flex;
  justify-content: center;
}
.form-group-1{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  margin: 20px;
  background-color: #67baf1ca;
  border: solid #6e48b0;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 1px rgba( 0, 0, 0 , .1);
}
.form-group-1 p{
  margin: auto;
  font-size: 20px;
  color: #6e48b0;
}
.diary-form{
  color: #6e48b0;
  display: flex;
  flex-direction: column;
  padding: 10px; 
  padding-right: 20px;
}
.field{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px;
  border-radius: 4px;
}
/*Food and FoodsMeal list form*/
.form-group-2{
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 20px;
  background-color: #67baf1ca;
  border: solid #6e48b0;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 1px rgba( 0, 0, 0 , .08);
  color: #6e48b0;
}
.form-list{ 
  border-radius: 20px;
  color: #6e48b0;
  padding: 20px;
  text-align: center;
}
.form-group-2 h2{ 
  padding-top: 10px;
  padding-left: 10px;
}
.button-link {
  display: inline-block;
  padding: 5px 5px;
  background-color: #80ccffca;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: solid #633aaa 1px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.button {
  display: inline-block;
  background-color: #6e48b0;
  /* border: none; */
  color: white;
  padding: 3px 4px;
  /* margin: auto; */
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 10px;
}
.button:visited{
  color: #fff;
}
.button:link{
  color: #fff;
}
.button:hover {
  color: #fff;
}
.button:active{
  color: #fff;
}

/* #80ccffca blue
   #633aaa purple
*/