<div class="food-list hidden" id="foods-meal-form"  data-form-type="edit" >
 
    <div class="meal-header">
      <h2 id="meal-name">ERROR: name not set</h2>
      <p> Remove items</p>
      <p id="sum-of-calories">Total Cals:<%= @meal.foods.sum(:calories) %><p>
    </div>
    <div class="meal-body">
        <template id="meal-item-template">
          <div class="meal-item">
            <div class="meal-item-name">
              <div class="meal-item-content">
                <div class="food-name">
                  <p></p>
                </div>
                <div class="meal-item-actions">
                  <button type="submit" id="remove-food-button">Remove</button>
                </div>
              </div>
              <div class="food-item-macros">
                <p class="food-calories"></p>
                <p class="food-protein"></p>
                <p class="food-fats"></p>
                <p class="food-carbs"></p>
              </div>
            </div>
          </div>
        </template>
    </div>
  <div class="meal-btns">
    <a class="cancel-button" href="#">Go back to meal list</a>
    <button id="foods-meal-form-toggle"><%= link_to "Add foods" %></button>
  </div>
</div>